<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Category</title>
</head>
<body>
<h2>New Category</h2>
<form th:action="@{/processcategory}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Category Name: <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span> <br/>
<!--    Genre: <input type="text" th:field="*{genre}"/>-->
<!--    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span> <br/>-->

    <input type="submit" value="submit"/>
</form>
</body>
</html>